* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: Tahoma;
  font-weight: normal;
  color: #EEEEEE;
  color:orangered;
  letter-spacing: 1px;
  
}

.container {
  width: 90vw;
  margin: 20px auto;
  min-width: 360px;
  max-width:960px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px gray;

  

}


.header {
  background-color: #EEEEEE;
  height: 174px;
  text-align: center;  
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
h1 {
  text-align: center;
  -margin: 10px auto;
  padding: 20px;
  color: #444444;

}
.header p {
  text-align: center;
  margin-top:-10px;
  margin-bottom: 10px;
}

/* .header {
  text-align: center;
} */

.search {
  height: 36px;
  width:  318px;
  margin: 12px auto;
  padding:8px;
  padding-bottom: 15px;
  font-size: 18px;
}

.list {
  padding: 30px;
}

.list h3 {
  font-size: 1.5em;

}

.list li {
  list-style: none;
  border-left: 5px solid orangered;
  height: 60px;
  margin: 10px;  
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 10px 10px;
  position: relative; 
}
.name {
  position: relative;
  top: 20px;
}
.delete {
  float: right;
  background-color: red;
  -outline: 1px solid orangered;
  height: 30px;
  width: 60px;
  padding: 7px;
  position: relative;
  top: 21px;
  color: white;
  border-radius: 5px;
}

.form {
  text-align: center;
  width: 400px;
  height: 133px;
  outline: 1px solid orangered;
  
}

/* #hide {
  outline: 1px solid orangered;
  padding-left: 150px;
 
}*/
.form P {
  display: inline;
  
} 
.hidebooks {
  text-align: center;
}







